.outOfMovesScreen {
	background-color: var(--color-red);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.buttons {
	display: flex;
	gap: 0.5rem;
}
