@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1, 0.9);
	}
	75% {
		transform: scale(0.9, 1);
	}
	100% {
		transform: scale(1);
	}
}

.pulse {
	animation: pulse 1s infinite;
	transform-origin: center;
}

.slow {
	animation-duration: 2s;
}

.fast {
	animation-duration: 0.5s;
}

.medium {
	animation-duration: 1s;
}
