.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: var(--color-black);
	height: 100%;
}

.leftAction {
	position: absolute;
	left: 0.5rem;
}

.rightAction {
	position: absolute;
	right: 0.5rem;
}

.content {
	flex: 1;
	align-self: stretch;
	position: relative;
	display: flex;
}

.bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 1rem;
	color: var(--color-white);
	font-weight: bold;
}

.subtitle {
	font-size: 0.75rem;
	color: var(--color-gray);
	text-transform: uppercase;
}

.buttonText {
	display: none;
}

@media (min-width: 768px) {
	.buttonText {
		display: block;
	}

	.leftAction {
		left: 2rem;
	}

	.rightAction {
		right: 2rem;
	}

	.title {
		font-size: 1.5rem;
	}
}
