.titleScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-black);
	color: var(--color-white);
	flex-direction: column;
	gap: 2rem;
}

.social {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
