.container {
	display: flex;
	background-color: white;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: start;
	appearance: none;
	border: none;
	cursor: pointer;
	gap: 0.5rem;
}

.name {
	font-weight: bold;
	font-size: 1.5rem;
}

.description {
	font-size: 1rem;
}

.symbols {
	display: flex;
	align-items: center;
	background-color: var(--color-navy);
	height: 3rem;
	justify-content: center;
	padding-left: 1.75rem;
	border-radius: 0.5rem;
}
