.container {
	display: flex;
	background-color: white;
	flex-direction: column;
	padding: 2rem 1rem;
	border-radius: 1rem;
	text-align: start;
	appearance: none;
	border: none;
	cursor: pointer;
	gap: 1.5rem;
	color: black;
	font-size: 0.75rem;
}

.name {
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.description {
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.description svg {
	color: var(--color-orange);
}

.symbols {
	display: flex;
	align-items: center;
	background-color: var(--color-navy);
	justify-content: center;
	padding: 0.5rem;
	gap: 2px;
	border-radius: 0.75rem;
}
