.screen {
	position: absolute;
	inset: 0;
	transform: translateY(0);
	transition: transform 0.2s ease-in-out;
	overflow: hidden;
	height: 100%;
}

.hidden {
	pointer-events: none;
}

.hidden.up {
	transform: translateY(-50%) rotateX(90deg);
}

.hidden.down {
	transform: translateY(50%) rotateX(-90deg);
}
