.container {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100%;
}

.levels {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
	gap: 0.5rem;
	padding: 0.5rem;
}

@media (min-width: 768px) {
	.levels {
		padding: 1rem;
		gap: 1rem;
	}
}
