html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

:root {
	--color-aqua: #7fdbff;
	--color-blue: #0074d9;
	--color-navy: #001f3f;
	--color-teal: #39cccc;
	--color-green: #2ecc40;
	--color-olive: #3d9970;
	--color-lime: #01ff70;

	--color-yellow: #ffdc00;
	--color-orange: #ff851b;
	--color-red: #ff4136;
	--color-fuchsia: #f012be;
	--color-purple: #b10dc9;
	--color-maroon: #85144b;

	--color-white: #ffffff;
	--color-silver: #dddddd;
	--color-gray: #aaaaaa;
	--color-black: #111111;
}

* {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	box-sizing: border-box;
}

body {
	background-color: var(--color-black);
}
