:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	font-family: 'DynaPuff', sans-serif;
}

body {
	margin: 0;
	overflow: hidden;
}
