.container {
	display: flex;
	border-radius: 1rem;
	background-color: white;
	appearance: none;
	border: none;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	padding: 0;
	overflow: hidden;
	z-index: 1;
	outline: none;
}

.info {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.name {
	font-weight: bold;
	white-space: nowrap;
}
