.winScreen {
	background-color: var(--color-green);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.pro {
	background-color: var(--color-yellow);
}

.buttons {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	flex-wrap: wrap;
}

.stats {
	display: flex;
	gap: 1rem;
	padding: 2rem 0.5rem;
}

.stat {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 1rem;
	padding: 1rem;
	align-items: center;
	min-width: 4rem;
}

.title {
	text-transform: uppercase;
	font-size: 0.75rem;
}

.value {
	font-size: 1.5rem;
	font-weight: bold;
}
